
@model IEnumerable<Computer_Accessories_Shop.Data.Model.Product>


@if (Model.Any())
{
	foreach (var item in Model)
	{
		
				<div class="col-6 col-md-4 col-lg-3 col-xl-5col">
						
					<div class="product product-11 text-center">
						<figure class="product-media">
							<a href="/Product/Detail/@item.ID">
								<img src="/UploadedFiles/Images/@item.Image" alt="@item.Title" class="product-image">
							</a>

							<div class="product-action-vertical">
							</div>
						</figure>

						<div class="product-body">
							<h3 class="product-title text-center"><a href="#">
									@item.Title
								</a>
							</h3>
							<div class="product-price">
								@item.Price
								تومان
							</div>
						</div>
						<div class="product-action">
							<a href="javascript:void(0)" onclick="AddToCart(@item.ID)" class="btn-product btn-cart"><span>افزودن به سبد خرید</span></a>
						</div>
					</div>
				</div>
	}
}