@model Computer_Accessories_Shop.Api.ViewModel.Account.LoginViewModel



<form action="/account/login" method="post">
    <div class="form-group">
		<label for="register-email-2">آدرس ایمیل شما *</label>
		<input type="email" class="form-control" name="Email"
            required>
	</div>

	<div class="form-group">
		<label for="register-password-2">رمز عبور *</label>
		<input type="password" class="form-control"
            name="Password" required>
	</div>

	<div class="form-footer">
		<button type="submit" class="btn btn-outline-primary-2">
			<span>ورود</span>
			<i class="icon-long-arrow-left"></i>
		</button>

	</div>
</form>