
@model Computer_Accessories_Shop.Data.Model.Order

@{
    ViewData["Title"] = "فاکتور";
    Layout = "../shared/_layout.cshtml";
}

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">فاکتور</li>
                    </ol>
                </div>
            </nav>

            <div class="error-content text-center"
                style="background-image: url(assets/images/backgrounds/error-bg.jpg)">
                <div class="container">
                    <h1 class="error-title">
                        متاسفانه امکان اتصال به درگاه بانکی وجود ندارد
                    </h1>
                    <p class="text-center">

                        سفارش شما 
                        با تعداد
                        @Model.Quality
                        کالا
                        و قیمت
                        @Model.Price
                        ثبت شد.
                        لطفا در زمانی دیگر پرداخت کنید.

                    </p>
                    <a href="/" class="btn btn-outline-primary-2 btn-minwidth-lg">
                        <span>بازگشت به صفحه اصلی</span>
                        <i class="icon-long-arrow-left"></i>
                    </a>
                </div>
            </div>
        </main>
