

@{
    ViewData["Title"] = "خانه";
	Layout = "../shared/_layout.cshtml";
}

<main class="main">


    
						@await Component.InvokeAsync("DiscountProducts")


	<div class="container">
		<div class="heading heading-center mb-3">
			<h2 class="title text-center">جدیدترین ها</h2>
		</div>

		<div class="tab-content">
			
				<div class="products">
					<div class="row justify-content-center">

						@await Component.InvokeAsync("NewProducts")

					</div>
				</div>
		</div>
	</div>

</main>
